@charset "UTF-8"; /* 中文語系，一定要在第一行 */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Noto+Sans+TC:wght@100&display=swap');
@font-face {
    font-family: PinkyPromise;
    src: url(webfont/Pinky\ Promise.otf);
}

*{
    margin: 0;
    padding: 0;
}
/* 共用顏色 */
.lightblue{
    background-color: #ECF5FF;
}

.lightgreen{
    background-color: #dfefde;
}

body{
    background-color: #ece1e8;
    font-family:
    /*⻄⽂*/-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中⽂*/"PingFang TC", "Noto Sans TC", "⿊體-繁", "Heiti TC", "微軟正⿊體","Microsoft JhengHei", sans-serif;
}

img{
    width: 100%;
}

#topbar{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav ul{
    list-style: none;
}

.icon{
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-bottom: 20px;
}

.icon li{
    display: block;
    width: 35px;
    height: 35px;
}

.icon_fb{
    background-image: url(images/icon-fb.svg);
    /* background-size: 100%; This is for jpg, png, gif etc., svg already set in deaflut */
}

.icon_fb:hover{
    background-image: url(images/icon-fb-hover.svg);
}

.icon_ig{
    background-image: url(images/icon-ig.svg);
}

.icon_ig:hover{
    background-image: url(images/icon-ig-hover.svg);
}

.icon_line{
    background-image: url(images/icon-line.svg);
}

.icon_line:hover{
    background-image: url(images/icon-line-hover.svg);
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 485px;
}

.menu li{
    padding: 5px 15px;
    border: 1px solid transparent;
}

.menu li:hover{
    border: 1px solid #666;
    background-color: rgba(255, 255, 255, 0.6);
}

.menu a{
    color: #666;
    text-decoration: none;
}

/* main */

section{
    height: 100vh;
}

/* main banner */

#banner{
    display: flex;
    justify-content: space-between;
    color: rgb(48, 48, 48);
}

#banner header{
    align-self: center;
    padding-left: 15%;
}

#banner h2{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3rem;
    letter-spacing: .3rem;
}

#banner h3{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 2rem;
    letter-spacing: .2rem;
}

#banner figure{
    width: 45%;
    align-self: flex-end;
}

/* main news */

.title{
    font-family: PinkyPromise;
    text-align: center;
    font-size: 2rem;
    border-top: #666 5px solid;
    padding: 15px 10px;
}