@charset "UTF-8";
/* 中文語系，一定要在第一行 */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Noto+Sans+TC&display=swap');

@font-face {
    font-family: PinkyPromise;
    src: url(webfont/Pinky\ Promise.otf);
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* 共用顏色 */
.lightblue {
    background-color: #ECF5FF;
}

.lightgreen {
    background-color: #dfefde;
}

body {
    background-color: #ece1e8;
    font-family:
        /*⻄⽂*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中⽂*/
        "PingFang TC", "Noto Sans TC", "⿊體-繁", "Heiti TC", "微軟正⿊體", "Microsoft JhengHei", sans-serif;
}

img {
    width: 100%;
}

#topbar {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav ul {
    list-style: none;
}

.icon {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-bottom: 20px;
}

.icon li {
    display: block;
    width: 35px;
    height: 35px;
}

.icon_fb {
    background-image: url(images/icon-fb.svg);
    /* background-size: 100%; This is for jpg, png, gif etc., svg already set in deaflut */
}

.icon_fb:hover {
    background-image: url(images/icon-fb-hover.svg);
}

.icon_ig {
    background-image: url(images/icon-ig.svg);
}

.icon_ig:hover {
    background-image: url(images/icon-ig-hover.svg);
}

.icon_line {
    background-image: url(images/icon-line.svg);
}

.icon_line:hover {
    background-image: url(images/icon-line-hover.svg);
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 485px;
}

.menu li {
    padding: 5px 15px;
    border: 1px solid transparent;
}

.menu li:hover {
    border: 1px solid #666;
    background-color: rgba(255, 255, 255, 0.6);
}

.menu a {
    color: #666;
    text-decoration: none;
}

/* main */

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main banner */

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(48, 48, 48);
    height: 100vh;
}

#banner header {
    align-self: center;
    padding-left: 15%;
}

#banner h2 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3rem;
    letter-spacing: .3rem;
    /* font-weight: 400; */
}

#banner h3 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 2rem;
    letter-spacing: .2rem;
    /* font-weight: 100; */
}

#banner figure {
    width: 45%;
    align-self: flex-end;
}

#banner video {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px) opacity(.5) sepia(.5);
}

/* main news */

.title {
    font-family: PinkyPromise;
    text-align: center;
    font-size: 2rem;
    border-top: #666 5px solid;
    padding: 15px 10px;
    margin: 30px 0;
}

.box_lst {
    display: flex;
    width: 80%;
}

.box_lst article,
.box_lst>div {
    height: 75vh;
    flex: 1;
    margin: 0 15px;
    box-shadow: 1px 1px 20px rgb(177, 177, 177);
    overflow: hidden;
    border-radius: 25px;
}

#news figure {
    height: 60%;
    overflow: hidden;
}

#news figure img {
    /* width: 100%; already write on top so can skip*/
    height: 100%;
    object-fit: cover;
}

#news h2 {
    font-size: 2rem;
    padding: 5px 25px;
}

#news p {
    padding: 5px 25px;
}

#news a {
    color: #666;
    text-decoration: none;
    text-align: justify;
    /* 以下為多行省略必備 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

/* main service */
.box_lst>div {
    background-size: cover;
    background-position: center;
    position: relative;
}

.item1 {
    background-image: url(images/pt_svc1.jpg);
}

.item2 {
    background-image: url(images/pt_svc2.jpg);
}

.item3 {
    background-image: url(images/pt_svc3.jpg);
}

.item4 {
    background-image: url(images/pt_svc4.jpg);
}

.txt_col {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.txt_col h2 {
    color: #FFF;
    font-size: 1.3rem;
    padding: 5px 20px;
}

.txt_col p {
    color: #FFF;
    padding: 0 20px 15px;
    /* 以下為單行省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.txt_col a {
    color: #FFF;
    text-decoration: none;
}

/* main about */

#about {
    background-image: url(images/pt_about.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#about>div {
    background-color: rgba(250, 209, 250, 0.5);
    width: 65%;
    text-align: center;
}

#about .title {
    display: inline-block;
}

#about p {
    text-align: left;
    height: 75vh;
    overflow: auto;
    text-align: left;
}

/* main video */

#video>div {
    width: 75%;
    height: 100vh;
}

video {
    width: 100%;
}

/* main contact */

#contact_form {
    width: 35%;
}

#contact_form * {
    width: 100%;
}

#contact_form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

.form_item {
    border: #926080 solid 1px;
    border-radius: 5px;
    padding: 10px;
}

button {
    /* position: relative; */
    /* outline: none; */
    /* text-decoration: none; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* text-transform: uppercase; */
    height: 60px;
    width: 210px !important;
    /* opacity: 1; */
    background-color: #ffffff;
    border: 1px solid #926080;
    margin: 15px auto;
}

button span {
    color: #926080;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}