@charset "UTF-8";
/* 中文語系，一定要在第一行 */

body{
    background: url(images/bg.jpg); /* body的背景圖片，background-image接url()，預設為無限拼貼 */
    width: 980px; /* 寬度 */
    margin: 0 auto; /* 對齊置中的一種方法 */
}

img{
    display: block;
}

div{
    float: left;
}

.contact{
    width: 100%;
    text-align: center;
}

.menu_btn{
    float: left;
}

.col{
    width: 460px;
    margin: 15px;
}

.foot{
    width: 100%;
    text-align: center;
    border-top: 2px #000 dotted;
    padding-top: 20px;
}
/* ---------------------------------------------------------------------- */
