@charset "UTF-8";
/* 中文語系，一定要在第一行 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 變數 */
:root{
    --color_font: #fff;
    --color_background: rgb(40, 40, 40);
    --color_none: rgba(0,0,0,0);
    --color_main_1_light: #FF595E;
    --color_main_1_dark: #d2363b;
    --color_main_2_light: #FFCA3A;
    --color_main_2_dark: #E5B534;
    --color_main_3_light: #78ae22;
    --color_main_3_dark: #527816; 
    --color_main_4_light: #1982C4;
    --color_main_4_dark: #14689C;
    --color_main_5_light: #6A4C93;
    --color_main_5_dark: #4A3566;
}
/* index */
/* 給導覽列 */
.bar{
    margin-right: 10px;
    cursor: pointer;
}
.hidden{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: 3em;
    color: var(--color_font);
    transition: all ease .3s;
}
/* 導覽列在滑鼠移上去時裡面文字顯示 */
/* .hidden_show{
    position: relative;
    color: var(--color_font);
} */
/* 導覽列顏色 */
/* .hidden a{
    color: var(--color_font);
    text-decoration: none;
} */
/* 導覽列文字部分 */
.hidden_bar{
    width: 100%;
    height: 50%;
    top: 0%;
    font-size: 0;
    text-decoration: none;
    color: var(--color_font);
    transition: ease .3s;
}

.hidden_bar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.hidden_bar li{
    margin: 5px;
}

.hidden_bar a{
    color: var(--color_font);
    text-decoration: none;
}

.shown_bar{
    top: 0%;
    text-decoration: none;
    font-size: .5em;
    color: var(--color_font);
}
/* 首頁主要區域 */
.main{
    display: flex;
    background-color: var(--color_background);
    height: 100vh;
    align-items: center;
}
/* 主要區域的排版 */
.main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    flex: 1;
    margin: 5px;
}
/* 主要區域標題 */
.main section h1{
    margin-top: 20px;
    color: var(--color_font );
    transition-property: all;
    transition: ease .3s;
}

/* 遊戲種類一 */
#game_style_1{
    background: var(--color_main_1_dark);
    transition-property: all;
    transition: ease .5s;
}

#game_style_1:hover{
    background: var(--color_main_1_light);
}
/* 遊戲種類二 */
#game_style_2{
    background-color: var(--color_main_2_dark);
    transition-property: all;
    transition: ease .5s;
}

#game_style_2:hover{
    background-color: var(--color_main_2_light);
}
/* 遊戲種類三 */
#game_style_3{
    background-color: var(--color_main_3_dark);
    transition-property: all;
    transition: ease .5s;
}

#game_style_3:hover{
    background-color: var(--color_main_3_light);
}
/* 遊戲種類四 */
#game_style_4{
    background-color: var(--color_main_4_dark);
    transition-property: all;
    transition: ease .5s;
}

#game_style_4:hover{
    background-color: var(--color_main_4_light);
}
/* 遊戲種類五 */
#game_style_5{
    background-color: var(--color_main_5_dark);
    transition-property: all;
    transition: ease .5s;
}

#game_style_5:hover{
    background-color: var(--color_main_5_light);
}